<div class="BoxesContainer">
    <div class="grid-box">
        <div class="needs-box">
            <label class="choose-text" for="select-option">Choose:</label>
            <select id="select-option" [(ngModel)]="selectedOption" (ngModelChange)="onSelectChange()">
              <option *ngFor="let option of optionsNeeds" [value]="option">{{ option }}</option>
              <option value="add-new-option">Add a new expense</option>
            </select>
            <div class="amount-calculate" *ngIf="selectedOption === 'add-new-option'">
              <input type="text" [(ngModel)]="newOption" />
              <button class="button-calculate" (click)="addNewOptionNeeds()">Dodaj</button>
            </div>
            <div class="progress-bar" [style.height.%]="selectedOption"></div>
        </div>
        <div class="amount-calculate">
            <input type="number" id="numberInput">
            <button class="button-calculate">Add expense</button>
        </div>
    <div class="FirstBox"></div>
    <p>NEEDS</p></div>

  <div class="grid-box">
    <div class="wants-box" >
        <label class="choose-text" for="select-option">Choose:</label>
        <select id="select-option" [(ngModel)]="selectedOption" (ngModelChange)="onSelectChange()">
          <option *ngFor="let option of optionsWants" [value]="option">{{ option }}</option>
          <option value="add-new-option">Add a new expense</option>
        </select>
        <div class="amount-calculate" *ngIf="selectedOption === 'add-new-option'">
          <input type="text" [(ngModel)]="newOption" />
          <button class="button-calculate" (click)="addNewOptionNeeds()">Dodaj</button>
        </div>
        <div class="progress-bar" [style.height.%]="selectedOption"></div>
      </div>
      <div class="amount-calculate">
        <input type="number" id="numberInput">
        <button class="button-calculate">Add expense</button>
    </div>
    <div class="SecondBox"></div>
    <P>WANTS</P></div>

    <div class="grid-box">
        <div class="savings-box">
            <label class="choose-text" for="select-option">Choose:</label>
            <select id="select-option" [(ngModel)]="selectedOption" (ngModelChange)="onSelectChange()">
              <option *ngFor="let option of optionsSavings" [value]="option">{{ option }}</option>
              <option value="add-new-option">Add a new expense</option>
            </select>
            <div class="amount-calculate" *ngIf="selectedOption === 'add-new-option'">
              <input type="text" [(ngModel)]="newOption" />
              <button class="button-calculate" (click)="addNewOptionSavings()">Dodaj</button>
            </div>
            <div class="progress-bar" [style.height.%]="selectedOption"></div>
          </div>
          <div class="amount-calculate">
            <input type="number" id="numberInput">
            <button class="button-calculate" (click)="substractSavings">Add expense</button>
        </div>
    <div class="ThirdBox"></div>
    <P>SAVINGS</P></div>
</div>