.BoxesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-around;
}

.FirstBox, .SecondBox, .ThirdBox {
    height: 300px;
    border: 3px solid #EF476F;
    border-radius: 15px
}
.grid-box {
    justify-self: center;
}
p {
    display: flex;
    font-family: 'Lato', sans-serif;
    color: #06D6A0;
    font-size: 30px;
    justify-content: center;
    margin-top: 10px;
  }
  input {
    height: 2rem;
    border: 1px solid #C5C6C7;
    border-radius: 10px;
    background-color: #45A29E;
    color:#1F2833;
    font-family: 'Lato', sans-serif;
    text-align: center;
   }
   input::-webkit-outer-spin-button,
   input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
   .amount-calculate {
    display: flex;
    padding: 0.8rem 0 0.5rem 0;
    gap: 1rem;
    justify-content: space-between;
   }
  .button-calculate {
    border-radius:20px;
    background-color: #EF476F;
    color: #C5C6C7;
    font-family: 'Lato', sans-serif;
  }
  #select-option {
      height: 2rem;
        border: 1px solid #C5C6C7;
        border-radius: 10px;
        background-color: #45A29E;
        color: #1F2833;
        font-family: 'Lato', sans-serif;
        text-align: center;
        width: 12rem;
  }
  .choose-text {
    font-family: 'Lato', sans-serif;
    color: #C5C6C7;
    margin-right: 1rem;
  }
